<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.dellemc.xhtml">
    <feature extension="dita.conductor.transtype.check" value="xhtml-emc"/>
    <feature extension="dita.transtype.print" value="xhtml-emc"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml" />
</plugin>
