<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.

Copyright 2015 Jarno Elovirta

See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.dita.pubdelete">
<!-- Pub delete -->
<feature extension="dita.conductor.transtype.check" value="pubdelete" type="txt"/>
<feature extension="dita.conductor.target.relative" value="build_dita2pubdelete.xml" type="file"/>
</plugin>
