<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.dellemc.webhelp.responsive.alienware">
	<feature extension="dita.conductor.transtype.check"
			 value="dellemc-webhelp-responsive.alienware"
			 desc="HTML5 Web Help – Alienware"/>
	<feature extension="dita.conductor.target.relative" file="integrator.xml"/>
</plugin>
