<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.dellemc.webhelp.responsive.nonbrand">
	<feature extension="dita.conductor.transtype.check"
			 value="dellemc-webhelp-responsive.nonbrand"
			 desc="HTML5 Web Help - Non-brand"/>

	<feature extension="dita.conductor.target.relative" file="integrator.xml"/>
</plugin>
