<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.dellemc.webhelp.responsive.dell">
	<feature extension="dita.conductor.transtype.check"
			 value="dellemc-webhelp-responsive.dell"
			 desc="HTML5 Web Help - Legacy Dell"/>

	<feature extension="dita.conductor.target.relative" file="integrator.xml"/>
</plugin>
